@page "/content/{contentId}"

@*
TODO: Implement according to design. Need to fix dotnet watch or something. The
slow build-to-see-changes cycle is killing me. Page 23 of RAD.
*@
<section class="about-section">
    <div class="rating-container">
        <div role="button" class="arrow-up"></div>
        <span class="rating">@_Content.Rating</span>
        <div role="button" class="arrow-down"></div>
    </div>
    <div class="header-section">
        <h1>@_Content.Title</h1>
        <p>@_Content.Author | @_Content.CreatedAt.ToString("dddd, dd MMMM yyyy")</p>
    </div>
</section>

<iframe width="560" height="315" src="@_Content.Link" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

@code {
    [Parameter]
    public string ContentId { get; set; }

    ContentPlaceholder _Content = new ContentPlaceholder {
        Title = "A short introduction to internet practice",
        Link = "https://www.youtube.com/embed/dQw4w9WgXcQ",
        Author = "Mickey Mouse",
        Rating = 1234,
        CreatedAt = DateTime.Now
    };

    record ContentPlaceholder
    {
        public string Title { get; init; }
        public string Link { get; init; } // TODO: custom storage?
        public string Author { get; init; } // TODO: custom user object from backend?
        public DateTime CreatedAt { get; init; } // TODO: custom user object from backend?
        public int Rating { get; init; }
    }
}
